extends layout

block content
  h1 Welcome!
  if tracks.length == 0
    h4 No tracks available
  else
    h4 Choose a track to view:
    ul
      for track in tracks
        li
          a(href='/tracks/#{track.id}') #{track.name}
      
